* {
    box-sizing: border-box;
}

body, button {
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
}

.header, .title-content, .footer {
    background-color: #1F2937;
}

.header {
    font-size: 24px;
}

.header.links {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
}

.title-content button {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 5px 15px;
    border-color: transparent;
}