* {
    box-sizing: border-box;
}

body, button {
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
}

.header, .title-content, .footer {
    background-color: #1F2937;
}

.header {
    font-size: 24px;
}

.header.links, .title-content p {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
}

.title-content h1 {
    font-size: 48px;
    font-weight: 900;
}

button {
    border-radius: 5px;
    padding: 5px 15px;
    border-color: transparent;
}

.information-heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.item.text {
    color: rgb(100, 100, 100);
}

.quote-body {
    background-color: #E5E7EB;
}

.quote-body p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-body h3 {
    color: #1F2937;
}

.action-box, button {
    background-color: #3882F6;
}