* {
    box-sizing: border-box;
}

.header, .title-content, .footer {
    background-color: #1F2937;
}

.header {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #F9FAF8;
}

.header.links {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
}